/* css属性书写规范： */
/* 1.布局定位属性：display,position,float,overflow,clear */
/* 2. 自身属性:width,height,margin,padding,border,background*/
/* 3.文本属性：color,font,text-decoration,text-align, */
/* 4.其它属性:content,cursor,border-radius,box-shadow */
* {
    padding:0;
    padding:0;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}
button {
    border: none;
}
.w{
    width: 1200px;
    margin:0 auto;
}
body{
    background-color: #f3f5f7;
}
/* header开始 */
.header{
    width: 1200px;
    height: 42px;
    background-color: pink;
    margin:30px auto;
}