<!DOCTYPE html>
<html>
  <head>
    <title>ajax项目</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>nihao</p>
  </body>
  <script type="text/javascript" src='/javascripts/style.js'></script>
</html>
