<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>简易计算器</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="num1"/>
        <select v-model="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="num2"/>
        <input type="button" value="=" v-on:click="calc"/>
        <input type="text" v-model="result"/>
    </div>
</body>
<script>
    const vm = new Vue({
        el:"#app",
        data:{
            num1:0,
            opt:"+",
            num2:0,
            result:0,
        },
        methods:{
           calc(){
               //获取到操作符，num1和num2的值，根据不同的操作符计算结果，赋值给result
                // switch(this.opt){
                //     case"+":
                //     this.result = parseFloat(this.num1) + parseFloat(this.num2);
                //     break;
                //     case"-":
                //     this.result = parseFloat(this.num1) - parseFloat(this.num2);
                //     break;
                //     case"*":
                //     this.result = parseFloat(this.num1) * parseFloat(this.num2);
                //     break;
                //     case"/":
                //     this.result = parseFloat(this.num1) / parseFloat(this.num2);
                //     break;
                // }
                    
                eval(`this.result = parseFloat(this.num1) ${this.opt} parseFloat(this.num2)`)
           } 
        }
    })
</script>
</html>