<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>名称案例</title>
    <!-- 导入Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        
    </style>
</head>
<body>
    <div id="app">
        firstname:
        <input type="text" v-model="firstname"/> + lastname:
        <input type="text" v-model="lastname"/> = fullname:
        <input type="text" v-model="fullname"/>
    </div>
</body>
<script>
    const vm = new Vue({
        el:"#app",
        data:{
            firstname:'',
            lastname:'',
            fullname:'',
        },
        methods:{
            
        },
        //表示监听指定数据的改变
        //watch监听一些虚拟的数据：比如监听URL地址的改变
        watch:{
            //"键是要监听的数据":数据变化时候的处理函数
            'firstname':function(newval,oldval){
                this.fullname = newval + this.lastname;
            },
            'lastname':function(newval,oldval){
                this.fullname = this.firstname + newval;
            }
        }
    })
</script>
</html>