<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>computed</title>
    <!-- 导入Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        
    </style>
</head>
<body>
    <div id="app">
        firstname:
        <input type="text" v-model="firstname"/> + lastname:
        <input type="text" v-model="lastname"/> = fullname:
        <input type="text" v-model="fullname"/>
    </div>
</body>
<script>
    const vm = new Vue({
        el:"#app",
        data:{
            firstname:'',
            lastname:'',
        },
        methods:{
            
        },
        //计算属性区域
        computed: {
            //只要计算属性的function中，所依赖的任何数据发生了变化，则会触发计算属性的重新求值

            //计算属性中，计算属性的值如果第一次被计算后没有发生变化，
            //则会把第一次计算的值缓存起来，供后续去使用
            
            'fullname':function(){//这个fullname就是计算属性
            //在页面中使用计算属性的时候，永远把他当做普通的属性来使用
                return this.firstname + this.lastname;
            }
        },
    })
</script>
</html>