<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>computed的get和set</title>
    <!-- 导入Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        
    </style>
</head>
<body>
    <div id="app">
        firstname:
        <input type="text" v-model="firstname"/> + lastname:
        <input type="text" v-model="lastname"/> = fullname:
        <input type="text" v-model="fullname"/>
    </div>
</body>
<script>
    const vm = new Vue({
        el:"#app",
        data:{
            firstname:'',
            lastname:'',
        },
        methods:{
            
        },
        //计算属性区域
        computed: {
            'fullname':{
                get(){//get表示外界要引用fullname值
                    return this.firstname + "-" + this.lastname;
                },
                //外界改变fullname框内的值会调用set函数
                set(val){//外界重新为fullname赋值
                    const parts = val.split('-');
                    this.firstname = parts[0] || '';
                    this.lastname = parts[1] || '';
                }
            }
        },
    })
</script>
</html>