.App {
  text-align: center;
}
.bgc{
  background-color: red;
  width: 500px;
  height: 500px;
  background-image:url(https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png);
}
.content{
  display: none;
}
.content.active{
  display: block;
}